.App {
  text-align: center;
}

.App-link:link, .App-link:visited {
  color: #FFAAAA;
}

.App-link:hover, .App-link:active {
  color: #801515;
}

.App-logo {
  font-weight: bolder;
  font-size: calc(40px + 2vmin);
}

.App-header, .App-content, .App-footer, .App-bibliography {
  padding: 50px 150px;
  background-color: #AA3939;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-input-section {
  max-width: 75vw;
  display: flex;
  flex-direction: column;
}
