@import url("https://rsms.me/inter/inter-ui.css");

body {
  margin: 0;
  padding: 0;
  font-family: InterUI, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.color-primary      { color: #AA3939 }  /* Primary */
.color-light        { color: #FFAAAA }  /* Light */
.color-medium-light { color: #D46A6A } /* Medium-light */
.color-medium-dark  { color: #801515 } /* Medium-dark */
.color-dark         { color: #550000 } /* Dark */
